.exp_container {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 2rem;
}
.exp_container > div {
    background: rgb(21, 44, 78);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
}